<h1><%= @quiz.title %></h1>

<form action="/quiz/<%= @quiz.id %>" method="POST">
  <h2><%= @question.text %></h2>
  <% @question.answers.each do |text, next_step| %>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="next_step" value="<%= next_step %>" id="<%= next_step %>" />
      <label class="form-check-label" for="<%= next_step %>"><%= text %></label>
    </div>
  </div>
  <% end %>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
